/* h1 a h2{
    color: blue;
}

body {
    color: blueviolet;
} */

/* ul li strong{
    color: rebeccapurple;
}


strong {
    color: red;
} */


/* #pid a{
    color: red;
} */

/* .pclass {
    color: red;
} */

/* [title="t"] {
    color:red
} */


/* body {
   background-color: bisque; 
}
p {
    background-color: blueviolet;
    width : 300px
} */